.blab_column {
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

.left_col {
	float: left;
	width: 50%;
}
.right_col {
	float: right;
	width: 50%;
}

.clear {
	clear:both;
}

#source {
	display: none;
}

.code_heading {
	color: #aaa;
	font-size: 10pt;
}
