/* Element styles */

@import url('//puzlet.org/ace/loader.css');
/*@import url('/puzlet/ace/loader.css');*/

body {
	font-family: Verdana, 'DejaVu Sans', sans-serif;
}

h1 {
  line-height: 120%;
}

/* Main container */

#container {
	width: 960px;
	margin: 0 auto;
	margin-top: 40px;
	/*margin-bottom: 300px;*/
	font-size: 12pt;
	line-height: 150%;
}

#widgets {
  position: relative;
}

.footer {
	margin-bottom: 300px;
}

.left {
  float: left;
  width: 470px;
}
.right {
   float: right;
   width: 470px;
}

.box-1-1 {
	width: 100%;
}

.box-2-1 {
  float: left;
  width: 470px;	
}

.box-2-2 {
  float: right;
  width: 470px;
}

.box-3-1 {
	display: inline-block;
	vertical-align: top; 
  margin-left: 0px;
  width: 307px;
}

.box-3-2 {
	display: inline-block;
	vertical-align: top;
  margin-left: 20px;
  width: 307px;
}

.box-3-3 {
	display: inline-block;
	vertical-align: top; 
  margin-left: 20px;
  width: 306px;
}

.box-4-1 {
	display: inline-block;
	vertical-align: top; 
  margin-left: 0px;
  width: 225px;
}

.box-4-2 {
	display: inline-block;
	vertical-align: top;
  margin-left: 20px;
  width: 225px;
}

.box-4-3 {
	display: inline-block;
	vertical-align: top; 
  margin-left: 20px;
  width: 225px;
}

.box-4-4 {
	display: inline-block;
	vertical-align: top;
  margin-left: 20px;
  width: 225px;
}

.clear {
  clear: both;
  margin-bottom: 5px;
}

button {
  cursor: pointer;
  margin-right: 5px;
}

div[data-file="blab.md"] {
  /*border: 3px solid #aaf;*/
  width: 880px;
  margin: 0 auto;
  /*max-height: 250px;*/
}

div[data-file="layout.coffee"] {
  /*border: 3px solid #aaf;*/
  width: 880px;
  margin: 0 auto;
  /*max-height: 250px;*/
}

.init-editor {
  display: none;
  /*max-height: 100px;*/
}

/* same as layout-code-section */
#markdown-editor {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #FFEBD6;
  padding: 10px;
  border-top: 1px solid #555;
	z-index: 10;
  box-shadow: 0px -5px 30px -5px rgba(0,0,0,0.4);
}

#layout-code-section {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #FFEBD6;
  padding: 10px;
  border-top: 1px solid #555;
	z-index: 10;
  box-shadow: 0px -5px 30px -5px rgba(0,0,0,0.4);
	/*display: none;*/
}

.layout-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid transparent;  /* should be background */
  min-height: 30px;
}

.layout-highlight {
  background: #FFEBD6;
  border: 2px solid #FFCC66;
  border-radius: 7px;
  min-height: 30px;
  /*-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;*/
}

.layout-box-number {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;  /* vertically-center */
  background: #669966;
  color: #FFEBD6;
  text-align: center;
  margin-top: 3px;
  margin-left: 443px;  /* should be function of container width */
  border-radius: 5px;
  font-size: 10pt;
  cursor: default;
}

.widget-highlight {
  background: #aaf;
}

.code-heading {
  cursor: pointer;
  color: blue;
}

#computation-buttons {
  margin-bottom: 5px;
}

#predefined-code-heading {
  font-size: 10pt;
  color: #aaa;
  cursor: pointer;
}

/*
div[data-file="layout.coffee"] {
	border: 3px solid #aaf;
	width: 880px;
	margin: 0 auto;
	max-height: 250px;
}
*/

/* Home page */

.home-page {
}

#blabr-tagline {
  font-size: 10pt;
  color: #aaa;
}

/* Demo */

.demo-button {
  width: 50px;
  height: 50px;
  line-height: 50px;  /* same as height */  
  text-align: center;
  color: white;
  font-size: 16pt;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

#demo-start-button-area {
  position: relative;
  width: 780px;
  margin: 0 auto;
}

.demo-start-button-main {
  /*padding: 10px;*/
  /*padding-top: 50px;*/
  background: black; /* #aaa; */
  border-radius: 10px;
  text-align: center;
}

.demo-start-button-main-text {
  /*background: #eee;*/
}

.demo-start-button-main-text h1 {
  font-size: 20pt;
  color: #9d3; /*rgb(180, 200, 80); black; */
  /*background: #bbb;*/
  padding: 0px;
}

#demo-start-button-main-image {
  width: 780px;
  opacity: 0.4;
}

#demo-button {
  position: absolute;
  width: 600px; /*180px;*/
  height: 70px;
  top: 0px;
  left: 0;
  padding-top: 5px;
  text-align: center;
  /*background: #eee;*/
  border-radius: 10px;
  font-size: 10pt;
  line-height: 100%;
  /*margin: 0 auto;*/
}

#demo-guide {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /*width: 200px;
  height: 100px;*/
  padding: 10px 20px 10px 20px;
  border: 2px solid #555;
  border-radius: 10px;
  box-shadow: 10px 10px 20px -8px #aaa;
  background: #ff9;
  opacity: 0.95;
  display: none;
}

#demo-control {
  position: fixed;
  display: none;
  top: 100px;
  right: 45px;
  width: 50px;
}

#demo-list-button {
  margin-left: 10px;
}

#demo-list {
  display: none;
  position: relative;
  width: 960px;
  padding: 10px 0px;
  /*padding: 15px;*/
  border-radius: 10px;
  background: #eee;
  font-size: 10pt;
  line-height: 140%;
}

.guide-col {
	display: inline-block;
	vertical-align: top; 
  margin-left: 10px;
  width: 226px;
}

.guide-col h3 {
  font-size: 10pt;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
  margin-top: 0px;
  margin-bottom: 8px;
}

.guide-col ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.guide-col img {
  width: 30px;
}

.guide-footer {
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px;
  border-top: 1px #aaa solid;
  color: #aaa;
  font-size: 9pt;
}

.guide-footer a {
  color: #aaa;
}

.gist {
  overflow: hidden;
  width: 100%;
  margin: 5px 0;
}

.gist img {
  float: left;
  width: 30px;
  height: 30px;
}

.gist p {
  float: right;
  width: 185px;
  margin: 0;
  font-size: 9pt;
  line-height: 110%;
}

.demo-list-item-highlight {
  font-weight: bold;
}

