table.widget {
	margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10pt;
  /*user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;*/
}

table.widget th {
  border: 1px solid black;
  text-align: center;
  padding: 6px;
  line-height: 100%;
}

table.widget td {
  border: 1px solid black;
  text-align: center;
  padding: 4px;
  line-height: 100%;
}

/*------Editable Table------*/

.editable-table-cell {
  height: 16px; /*14px;*/
  line-height: 16px; /*14px;*/ /* May need to make line height same for regular cells */
  vertical-align: top;
  cursor: pointer;
/*  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;*/
}

.editable-table-input-field {
  width: 60px;
  text-align: center;
  height: 14px;
  line-height: 14px;
  vertical-align: top;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  border: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

